body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
    background-color: #f5f5df;
  }

.barchart caption {
    font:bold 150%/120% arial, helvetica, sans-serif;
}

#bartext{
    font:bold 150%/120% arial, helvetica, sans-serif;
}

.apples-style{
    background-color: #b6cfd2;
    width: 1000px;
    height: 30px;
    font:bold 150%/120% arial, helvetica, sans-serif;
}

.bananas-style{
    background-color: #b78796;
    width: 600px;
    height: 30px;
    font:bold 150%/120% arial, helvetica, sans-serif;
    /* border: 1px solid black; */
}

.oranges-style{
    background-color: #edb2a0;
    width: 700px;
    height: 30px;
    font:bold 150%/120% arial, helvetica, sans-serif;
}

.blueberries-style{
    background-color: #f4e3b5;
    width: 200px;
    height: 30px;
    font:bold 150%/120% arial, helvetica, sans-serif;
}

.apples-style:hover{
    background: white;
    border: 10px solid black;
}

.bananas-style:hover{
    background: white;
    border: 10px solid black;
}

.oranges-style:hover{
    background: white;
    border: 10px solid black;
}

.blueberries-style:hover{
    background: white;
    border: 10px solid black;
}